@import url(./reset.css);
@import url(./variables.css);
@import url(./fonts.css);

html {
	font-size: 12px;
}

body {
	width: 100%;
	max-width: 1440px;
	height: 100vh;
	background: linear-gradient(180deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-family: 'Kumbh';
}

.FAQ-container {
	background-color: #fff;
	width: 100%;
	height: 70%;
	display: flex;
	flex-flow: row nowrap;
	border-radius: 2rem;
	position: relative;
	margin: 5rem;
	z-index: 10;
}

.FAQ-container__image-container {
	width: 50%;
	height: 100%;
	border-radius: 2rem 0 0 2rem;
	background-image: url(../assets/img/bg-pattern-desktop.svg);
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: right;
	position: relative;
	z-index: 20;
}

.image-container__image {
	width: 100%;
	height: 100%;
	background-image: url(../assets/img/illustration-woman-online-desktop.svg);
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: right;
	z-index: 20;
}

.image-container__image-box {
	width: 40%;
	height: 40%;
	position: absolute;
	left: -25%;
	top: 43%;
}

.image-box__box {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.FAQ-container__text-section {
	width: 50%;
	padding: 5rem;
	height: 100%;
	border-radius: 0 2rem 2rem 0;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: flex-start;
}

.FAQ-container__text-section h1 {
	font-size: 4rem;
	font-weight: 700;
}

.text-container__question-container {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid var(--dividers-color);
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.text-container__question {
	width: 100%;
	font-size: 2rem;
	font-weight: 400;
	display: flex;
	border: none;
	justify-content: space-between;
	align-items: center;
	color: var(--very-dark-blue-text);
	z-index: 10;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.text-container__question:hover {
	color: var(--soft-red-text);
}

.text-container__question--active {
	font-weight: 700;
}

.arrow-down {
	display: block;
	transition: all 100ms ease-in-out;
}

.arrow-down--flipped {
	transition: all 100ms ease-in-out;
	transform: scaleY(-1);
}

.text-container__answer {
	width: 100%;
	font-size: 1.1rem;
	transition: all 200ms ease-in-out;
	display: none;
}

.text-container__answer--visible {
	display: block;
	width: 100%;
	padding-right: 3rem;
	height: 100%;
	transition: all 200ms ease-in-out;
	color: var(--very-dark-grayish-blue);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
	.FAQ-container {
		height: auto;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
}