@import url(./reset.css);
@import url(./variables.css);
@import url(./fonts.css);
@import url(./profile-card.css);
@import url(./stats-tab.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
}

body {
	width: 100%;
	background-color: var(--background-color);
	font-family: 'Rubik';
}

.time-tracking {
	margin: 40px 15px;
	max-width: 375px;
	z-index: 9999;
}