:root {
	--primary-color: hsl(0, 100%, 74%);
	--secondary-color: hsl(154, 59%, 51%);
	--tertiary-color: hsl(248, 32%, 49%);

	--neutral-color-1: hsl(249, 10%, 26%);
	--neutral-color-2: hsl(246, 25%, 77%);
}