.devfinder__title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title__main-title {
	font-weight: 700;
	font-size: var(--font-size-h1);
}

.title__main-title--lightmode {
	color: #222731;
}

.title__main-title--darkmode {
	color: #fff;
}

.title__button-color-mode {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: var(--font-size-h4);
	letter-spacing: 2.5px;
	border: none;
	font-weight: 700;
	z-index: 99;
}

.title__button-color-mode--lightmode {
	color: var(--lightmode-secondary-color);
}

.title__button-color-mode--lightmode:hover {
	color: #222731;
}

.title__button-color-mode--darkmode {
	color: var(--darkmode-secondary-color);
}

.title__button-color-mode--darkmode:hover {
	color: #90A4D4;
}

.moon-svg {
	display: none;
}

.moon-svg--visible { /* LIGHTMODE */
	display: block;
}

.moon-svg__path--hover {
	fill: #222731;
}

.sun-svg {
	display: none;
}

.sun-svg--visible {	/* DARKMODE */
	display: block;
}

.sun-svg__path {
	fill: var(--darkmode-secondary-color);
}

.sun-svg__path--hover {
	fill: #90A4D4;
}